<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>发表博客</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/js/wangEditor/wangEditor.min.css" />
    <script src="/js/vue/vue.js"></script>
    <script src="/js/vue/vue-resource.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/wangEditor/wangEditor.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/web_create.js"></script>

</head>

<body>
    <div class="container">
        <header class="clearfix" id="header_top">
            <div class="head_left">
                <h1 class="logo">
                    <!-- <i class="logo"><img src="../images/Blogo.png" alt="logo"></i> -->
                </h1>
            </div>
            <nav class="head_right">
                <ul>
                    <li><a class="nav_item" href="/">首页</a></li>
                    <li><a class="nav_item current" href="/manage">博客管理</a></li>
                    <li><a class="nav_item" href="/html/about.html">关于我</a></li>
                </ul>
            </nav>
        </header>
        <div class="create">
            <h3>发表博客</h3>
            <form id="create_form" action="/web/add" method="post">
                <div class="upload_cover">
                    <span>博客封面：</span>
                    <i class="img_wrapper"><img id="pre_img" v-on:click="upload_file" src="/images/cover_upload.png" alt="上传封面"></i>
                    <!-- 选择文件改变值的时候上传 -->
                    <input v-on:change="upload_img" id="upload_file" name="cover" type="file" placeholder="文章封面" style="visibility:hidden" />
                    <!-- 保存文件 -->
                    <input v-model="blog.cover" type="hidden" name="cover"  id="cover">
                </div>
                <input v-model="blog.title" type="text" name="title" placeholder="标题" style="display:block" />
                <div id="wangeditor"></div>

                <input type="button" id="submit" value="发表" v-on:click="submit" />
            </form>
        </div>
        <div class="footer">
            <p>Copyright©linsimei All Right Reserved</p>
            <div class="back_top"><a href="#header_top"><img src="/images/top.png" alt="back_top"></a></div>
        </div>
    </div>
</body>

</html>