/*PAGE STRUCTURE
----------------------------------------------- */

header {
  width: 100%;
  padding: 20px;
}


/*login*/

.login {
  margin: 280px auto;
  width: 350px;
  height: 270px;
  border: 1px solid #949599;
  text-align: center;
  padding: 20px;
  background: #000;
  color: #fff;
}

.login h2 {
  letter-spacing: 20px;
  font-weight: 700;
  color: #fff;
}

.login input {
  margin: 10px 0;
  width: 300px;
  height: 30px;
  line-height: 30px;
}

.login .button {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #949599;
  font-size: 16px;
}

.login div {
  width: 260px margin： auto;
  height: 25px;
  padding: 0 10px;
}

.login .get_password,
.login .back_home {
  color: #fff;
}


/*home page*/
/*header*/
header {
  min-width: 100%;
  margin: 0 auto;
}
header nav li{
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}
header nav li  a{
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight:700;
  font-size: 20px;
}
header nav li a.current{
  background: #000;
  color:#fff;
}

/*main content*/
.main_wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  border: 2px solid #e0e0e0;
}
.main_wrapper .banner{
height: 90px;
line-height: 90px;
text-align: center;
font-size: 18px;
border-bottom:  2px solid #e0e0e0;
}


